.notFoundContainer{
    display: block;
    text-align: center;
    
    img{
        margin-top: 200px;
        max-width: 150px;
        width: 50%;
    }
    p{
        color: rgb(73, 73, 73);
    }
    a{
        color: black;
    }
}